<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/893eaed3-bb20-486a-a916-220c049ea9eb/resourceGroups/luizvaleResourceRepo/providers/Microsoft.Web/sites/PortoAlegreSchools</ResourceId>
    <ResourceGroup>luizvaleResourceRepo</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://portoalegreschools.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>02dd131d-f661-427b-bb1f-4904333ed06f</ProjectGuid>
    <PublishUrl>https://portoalegreschools.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PortoAlegreSchools</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>